# name: SonarCloud analysis

# on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]
#   workflow_dispatch:

# permissions:
#   contents: read
#   pull-requests: read

# jobs:
#   analysis:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#         with:
#           fetch-depth: 0

#       - name: Analyze with SonarQube Cloud
#         uses: SonarSource/sonarqube-scan-action@v7
#         env:
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#         with:
#           args: >
#             -Dsonar.host.url=https://sonarcloud.io
#             -Dsonar.organization=nsnoonz
#             -Dsonar.projectKey=Nsnoonz_API_01
#             -Dsonar.verbose=true
name: SonarCloud analysis

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      # actions/checkout v4.2.2 (pinned full SHA)
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      # SonarQube Scan Action v7.0.0 (pinned full SHA)
      - name: Analyze with SonarQube Cloud
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.organization=nsnoonz
            -Dsonar.projectKey=Nsnoonz_API_01
            -Dsonar.verbose=true
